body{
  margin:5px;
  padding:5px;
  border:5px;
  background-image: url("https://i.pinimg.com/originals/3e/7e/d3/3e7ed3d6e247fbd5080a172850eba39a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  text-align: center;
  font-size:20px;
 
}
#descri{
  font-size: 24px;
  color:thistle;
}
h1{
  text-align: center;
  color:ghostwhite;
}
h3{
  color:whitesmoke;
  font-weight:bold;
}
li{
  color:white
}